{% extends "base.html" %}
{% block content %}

{% for book in all_books %}
  <div class="task">
    <div class="content">
        <a href="/books/{{book.id}}">{{book.title}}</a> by {{book.author.first_name}} {{book.author.last_name}}
      <div class="description">
        {{book.blurb}}
        <span class="duration">£{{book.price}}</span>
      </div>
      <div class="buttons">
        
        <form class="delete-form" action="/tasks/{{task.id}}/delete" method="POST"> <!-- NEW -->
          <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button> <!-- NEW -->
        </form>

      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}